<%-include('./_header')-%>

  <body>
    <%-include('_left_sidebar')-%>



     


      <div class="main-content">
        <%-include('_navbar')-%>


        






          <div class="row justify-content-center mt-5">
            <div class="col-12 col-xl-7">
              <h3 class="mb-3 mb-md-0">
                Add Product
              </h3>
              <form action="/add_product_post" method="post" enctype="multipart/form-data">
                <div class="form-group mt-4 pt-3">
                  <label class="form-label">
                    Product name:
                  </label>
                  <input type="text" class="form-control green-border" name="product_name">
                </div>
              
                <div class="form-group mt-4">
                  <label class="form-label">
                    Project details:
                  </label>
                  <textarea rows="4" class="form-control green-border" name="product_details"></textarea>
                </div>
              
                <div class="form-group mt-4">
                  <label class="form-label">
                    Category:
                  </label>
                  <div class="input-group">
                    <select class="form-control green-border" name="category">
                      <option value="" disabled selected> - Select -</option>
                     <% data.forEach(async (i)=> { %>

                      <option value="<%=i.category %>"><%=i.category%></option>
                      
                     <% }) %>
                     
                    </select>
                  </div>
                </div>
              
                <div class="form-group mt-4">
                  <label class="form-label">
                    Price:
                  </label>
                  <div class="input-group">
                    <input type="number" class="form-control green-border" min="0" name="price" oninput="validatePrice(this)">
                    <div class="error-message" id="price-error"> &nbsp Price cannot be a negative number</div>
                                      </div>
                </div>

                <div class="form-group mt-4">
                  <label class="form-label">
                    Quantity
                  </label>
                  <div class="input-group">
                    <input type="number" class="form-control green-border" min="0" name="quantity" >
                    <div class="error-message" > &nbsp quantity cannot be a negative number</div>
                                      </div>
                </div>
            
                <div class="from-group mt-4">
                  <label class="form-label mb-0">
                    Product Images:
                  </label>
                  <p class="form-text">
                    Upload a JPG or PNG. No larger than 1200px.
                  </p>
                  <div class="file-input-container">
					<input type="file" id="product_image1" class="form-control green-border file-input" name="product_image" accept="image">
					<input type="file" id="product_image2" class="form-control green-border file-input" name="product_image" accept="image">
					<input type="file" id="product_image3" class="form-control green-border file-input" name="product_image" accept="image">
					<input type="file" id="product_image4" class="form-control green-border file-input" name="product_image" accept="image">
				  </div>
				  

                  <img id="preview1" src="#" alt="Image Preview" style="display: none;">
                  <img id="preview2" src="#" alt="Image Preview" style="display: none;">
                  <img id="preview3" src="#" alt="Image Preview" style="display: none;">
                  
                  <img id="preview4" src="#" alt="Image Preview" style="display: none;">

  
                </div>
              
                <div class="d-grid gap-3 mt-5">
                  <button class="btn btn-primary btn-lg hover-lift-light" type="submit">Add</button>
                  <!-- <button class="btn btn-link">Cancel</button> -->
                  <br>
                </div>
              </form>
              
            </div>
          </div>
        
      </div>

      <!-- JAVASCRIPT
  ============================================-->

      <!-- Vendor -->
      <script src="/assets_admin/js/vendor.min.js"></script>


      <!-- Main Theme file -->
      <script src="/assets_admin/js/theme.min.js"></script>
      <script>
        function validatePrice(input) {
            if (input.validity.rangeUnderflow) {
                input.setCustomValidity("Price cannot be a negative number");
                document.getElementById('price-error').style.display = 'block';
            } else {
                input.setCustomValidity("");
                document.getElementById('price-error').style.display = 'none';
            }
        }
        </script>
        
        

  </body>


  </html>