<%-include('_header')-%>


  <style>
    .custom-table {
      background-color: #504e481f;
      /* Replace with your desired background color */
      border-color: #79a206;
      /* Replace with your desired border color */
    }
  </style>

  <body>
    <%-include('_left_sidebar')-%>
   



    


      <div class="main-content">
       
        <%-include('_navbar')-%>

        <div class="container order-details-container mb-5">

          <div class="row ">
            <div class="d-md-flex align-items-center">

              <a href="#!" class="btn btn-white hover-lift-light ms-auto me-3">
                <span class="svg-icon svg-icon-xs text-dark me-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <title>ionicons-v5-a</title>
                    <polyline points="112 268 256 412 400 268"
                      style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                    <line x1="256" y1="392" x2="256" y2="100"
                      style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                  </svg>
                </span>
                Export
              </a>

            </div>
            <div class="col-md-4">
              <h5>Order Details</h5>
              <ul class="order-details-list mt-3">
                <li>
                  <span class="detail-label">Order Id:</span>
                  <span class="detail-value">
                    <%= orderDetails.orderId %>
                  </span>
                </li>
                <li>
                  <span class="detail-label">Order Date:</span>
                  <span class="detail-value">
                    <%= (new Date(orderDetails.date)).toDateString() %>

                  </span>
                </li>
                <% if (orderDetails.deliveredDate) { %>
                  <li>
                    <span class="detail-label">Delivered Date:</span>
                    <span class="detail-value">
                    <%= (new Date(orderDetails.deliveredDate)).toDateString() %>

                    </span>
                  </li>
                  <% } %>
                    <% if (orderDetails.returnEndDate) { %>
                      <li>
                        <span class="detail-label">Return End Date:</span>
                        <span class="detail-value">
                    <%= (new Date(orderDetails.returnEndDate)).toDateString() %>

                        </span>
                      </li>
                      <% } %>
                        <li>
                          <span class="detail-label">Payment Method:</span>
                          <span class="detail-value">
                            <%= orderDetails.paymentMethod %>
                          </span>
                        </li>
                        <li>
                          <span class="detail-label">Total:</span>
                          <span class="detail-value">₹ <%= orderDetails.total %></span>
                        </li>
                        <% if (orderDetails.couponName) { %>
                          <li>
                            <span class="detail-label">Coupon Name:</span>
                            <span class="detail-value">
                              <%= orderDetails.couponName %>
                            </span>
                          </li>
                          <li>
                            <span class="detail-label">Discount Amount:</span>
                            <span class="detail-value">₹ <%= orderDetails.discountAmount %></span>
                          </li>
                          <% } else { %>
                            <li>
                              <span class="detail-label">Coupon Used:</span>
                              <span class="detail-value">No coupon used</span>
                            </li>
                            <% } %>
                              <!-- Add more order details here -->
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Shipping Address</h5>
              <p class="mt-3">
                <%= addressData.name %><br>
                  <%= addressData.mobile %><br>
                    <%= addressData.email %><br>
                      <%= addressData.addressLine %><br>
                        <%= addressData.city %><br>
                          <%= addressData.state %><br>
                            <%= addressData.pincode %><br>
              </p>
            </div>
            <div class="col-md-4">
              <h5>Order-Status</h5>
              <div class="mt-3">
                <% if (orderDetails.status==="Pending" ) { %>
                  <h4 style="color: orange;">
                    <%= orderDetails.status %>
                  </h4>
                  <% } else if (orderDetails.status==="Shipped" ) { %>
                    <h4 style="color: green;">
                      <%= orderDetails.status %>
                    </h4>
                    <% } else if (orderDetails.status==="Delivered" ) { %>
                      <h4 style="color: teal;">
                        <%= orderDetails.status %>
                      </h4>
                      <% } else if (orderDetails.status==="Cancelled" ) { %>
                        <h4 style="color: red;">
                          <%= orderDetails.status %>
                        </h4>
                        <% } else if (orderDetails.status==="Returned" ) { %>
                          <h4 style="color: purple;">
                            <%= orderDetails.status %>
                          </h4>
                          <% } %>
              </div>
              <h6 class="mt-3">Change Order Status</h6>

              <% if (orderDetails.status==="Pending" ) { %>
                <select name="orderUpdate" id="orderUpdate-<%= orderDetails._id %>" class="form-select">
                  <option value="" disabled selected>
                    <%= orderDetails.status %>
                  </option>
                  <option value="Shipped">Shipped</option>
                  <option value="Delivered">Delivered</option>
                  <option value="Cancelled">Cancelled</option>
                </select>
                <% } else if (orderDetails.status==="Shipped" ) { %>
                  <select name="orderUpdate" id="orderUpdate-<%= orderDetails._id %>" class="form-select">
                    <option value="" disabled selected>
                      <%= orderDetails.status %>
                    </option>
                    <option value="Delivered">Delivered</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
                  <% } else if (orderDetails.status==="Cancelled" ) { %>
                    <select name="orderUpdate" id="orderUpdate-<%= orderDetails._id %>" class="form-select">
                      <option value="" disabled selected>
                        <%= orderDetails.status %>
                      </option>
                    </select>
                    <% } else if (orderDetails.status==="Returned" ) { %>
                      <select name="orderUpdate" id="orderUpdate-<%= orderDetails._id %>" class="form-select">
                        <option value="" disabled selected>
                          <%= orderDetails.status %>
                        </option>
                      </select>
                      <% } else { %>
                        <td>
                          <select name="orderUpdate" id="orderUpdate-<%= orderDetails._id %>" class="form-select">
                            <option value="" disabled selected>
                              <%= orderDetails.status %>
                            </option>
                            <option value="Returned">Returned</option>
                          </select>
                        </td>
                        <% } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 w-100 m-auto">
              <div class="table-container">
                <h5>Order Items</h5>
                <table class="table table-hover mt-4 table-bordered custom-table">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">IMAGE</th>
                      <th scope="col">NAME</th>
                      <th scope="col">QUANTITY</th>
                      <th scope="col">PRICE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orderProductData.forEach(function(product, index) { %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                          <img style="width: 80px; height: 80px;" src="<%= product.image %>" alt="Product Image">
                        </td>
                        <td class="name-Cell" data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="<%= product.name %>">
                          <%= product.name %>
                        </td>
                        <td>
                          <%= product.quantity %>
                        </td>
                        <td>
                          <%= product.price %>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>

        <div
          class="list-alert alert alert-dark w-300 w-md-400 border-0 shadow-light-lg fade fixed-bottom start-50 translate-middle-x mb-4"
          role="alert" style="z-index: -1;">
          <div class="row align-items-center">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked onclick="return false;">
                <label class="form-check-label text-white relative-top-2 ms-1" for="listAlertCheckbox">
                  <span class="list-alert-count">0</span> orders(s)
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-auto ms-3 mt-3 mt-md-0">
              <button class="btn btn-sm btn-pastel-purple">
                Send refund
              </button>
              <button class="btn btn-link list-alert-close btn-sm text-white">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- JAVASCRIPT
  ============================================-->

      <!-- Vendor -->
      <script src="/assets_admin/js/vendor.min.js"></script>


      <!-- Main Theme file -->
      <script src="/assets_admin/js/theme.min.js"></script>
      <!-- orderUpdate js -->
      <script src="/assets_admin/js/admin.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>




      <script type="text/javascript">
        $(function () {
          var options = {
            valueNames: ['item-amount', 'item-status', 'item-customer'],
            page: 10,
            pagination: {
              paginationClass: 'nav-pagination'
            }
          };

          var paymentsList = new List('payments', options);
        })
      </script>
  </body>

  <!-- Mirrored from themeforesight.netlify.app//payments by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:24 GMT -->

  </html>