<%-include('_header')-%>


<body>
  <%-include('_left_sidebar')-%>
  


  


  <div class="main-content">
    <%-include('_navbar')-%>


    <div class="container-fluid mt-4 pt-2 mb-6">
      <!-- header -->
      <div class="d-md-flex align-items-center">
        <h3 class="mb-3 mb-md-0">
          Orders
        </h3>
        <a href="#!" class="btn btn-white hover-lift-light ms-auto me-3">
          <span class="svg-icon svg-icon-xs text-dark me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-a</title><polyline points="112 268 256 412 400 268" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/><line x1="256" y1="392" x2="256" y2="100" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
          </span>
          Export
        </a>
        <!-- <a href="#!" class="btn btn-purple hover-lift-light shadow-light-sm">
          <span class="svg-icon svg-icon-sm text-white me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-a</title><line x1="256" y1="112" x2="256" y2="400" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="400" y1="256" x2="112" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
          </span>
          Create payment
        </a> -->
      </div>

      <!-- filters -->
      <ul class="nav nav-tabs nav-overflow mt-3 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#!">
            All
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!">
            Succeeded
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">
            Refunded
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">
            Archived
          </a>
        </li>
      </ul>

      <!-- report -->
      <div id="payments" class="card mt-4">
        <div class="card-header">
          <form class="flex-grow-1 pe-3">
            <div class="input-group input-group-flush pt-2">
              <div class="input-group-text ps-0">
                <i class="fas fa-search relative-top--2"></i>
              </div>
              <input type="search" class="search form-control" placeholder="Search...">
            </div>
          </form>

          <div class="ms-auto mt-2 mt-md-0">
            <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-bs-toggle="dropdown">
              <i class="svg-icon svg-icon-sm me-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-n</title><path d="M35.4,87.12,204.05,283.56A16.07,16.07,0,0,1,208,294V413.32a7.93,7.93,0,0,0,5.39,7.59l80.15,26.67A7.94,7.94,0,0,0,304,440V294A16.07,16.07,0,0,1,308,283.56L476.6,87.12A14,14,0,0,0,466,64H46.05A14,14,0,0,0,35.4,87.12Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </i>

              Filter
            </button>

            <div class="dropdown-menu dropdown-menu-card shadow-light">
              <div class="card-header">
                <div class="card-header-title">
                  Filters
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-4">
                    <span>
                      Payment method
                    </span>
                    <select class="form-select form-select-sm w-auto">
                      <option>Card</option>
                      <option>PayPal</option>
                    </select>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-4">
                    <span>
                      Status
                    </span>
                    <select class="form-select form-select-sm w-auto">
                      <option>Active</option>
                      <option>In progress</option>
                      <option>Refunded</option>
                    </select>
                  </li>
                </ul>
              </div>
              <a href="#!" class="card-footer-btn btn btn-purple justify-content-center">
                Apply filter
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm card-table table-nowrap">
            <thead>
              <tr>
                <th>
                  <div class="form-check m-0">
                    <input class="form-check-input list-checkbox-all" type="checkbox">
                  </div>
                </th>
                <th>
                  <a class="sort text-dark" data-sort="item-amount" href="#!">Amount</a>
                </th>
                <th>
                  <a class="sort text-dark" data-sort="item-status" href="#!">Status</a>
                </th>
                <th>
                  <span class="text-dark">Payment Method</span>
                </th>
                <th>
                  <a class="sort text-dark" data-sort="item-customer" href="#!">Customer</a>
                </th>
                <th>
                  <span class="text-dark">Date</span>
                </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="list">
                <% orderData.forEach((data)=> { %>

              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input list-checkbox" type="checkbox">
                  </div>
                </td>
                <td class="item-amount">
                  
                  <span class="text-muted fs-sm ms-1"><%=data.total%></span>
                </td>
                <td class="item-status">
                  <div class="badge bg-pastel-success text-success text-uppercase-xs">
                    
                    <%=data.status%>
                  </div>
                </td>
                <td>
                  <%=data.paymentMethod%>
                </td>
                <td class="item-customer">
                  <%=user.email%>
                </td>
                <td class="fs-sm text-muted">
                  <%= (new Date(data.date)).toDateString() %>
                  
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="svg-icon text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-f</title><circle cx="256" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="416" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/></svg>
                      </span>
                    </a>
                    <div class="dropdown-menu shadow-light-sm" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/orderDetails?orderId=<%= data._id %>">View Details</a>
                      <a class="dropdown-item" href="">Refund payment</a>
                      <!-- <a class="dropdown-item" href="#!">Send receipt</a> -->
                    </div>
                  </div>
                </td>
              </tr>
              <%})%>
              
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex justify-content-center p-0">
          <ul class="nav-pagination">
            <li>
              <a class="page" href="#!">1</a>
            </li>
            <li>
              <a class="page" href="#!">2</a>
            </li>
            <li>
              <a class="page" href="#!">3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="list-alert alert alert-dark w-300 w-md-400 border-0 shadow-light-lg fade fixed-bottom start-50 translate-middle-x mb-4" role="alert" style="z-index: -1;">
      <div class="row align-items-center">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked onclick="return false;">
            <label class="form-check-label text-white relative-top-2 ms-1" for="listAlertCheckbox">
              <span class="list-alert-count">0</span> orders(s)
            </label>
          </div>
        </div>
        <div class="col-12 col-sm-auto ms-3 mt-3 mt-md-0">
          <button class="btn btn-sm btn-pastel-purple">
            Send refund
          </button>
          <button class="btn btn-link list-alert-close btn-sm text-white">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- JAVASCRIPT
  ============================================-->

  <!-- Vendor -->
  <script src="/assets_admin/js/vendor.min.js"></script>


  <!-- Main Theme file -->
  <script src="/assets_admin/js/theme.min.js"></script>


  <script type="text/javascript">
    $(function () {
      var options = {
        valueNames: [ 'item-amount', 'item-status', 'item-customer' ],
        page: 10,
        pagination: {
          paginationClass: 'nav-pagination'
        }
      };

      var paymentsList = new List('payments', options);
    })
  </script>
</body>

<!-- Mirrored from themeforesight.netlify.app//payments by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:24 GMT -->
</html>
