<div class="mini_cart">
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3>cart</h3>
            </div>
            <div class="mini_cart_close">
                <a href="javascript:void(0)"><i class="icon-x"></i></a>
            </div>
        </div>
        <% cart.forEach((item) => { %>
        
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="<%= item.product.imageUrl[0].url %>"
                        alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#"><%= item.product.product_name %></a>
                <p><%= item.quantity %> x <span> <%= item.product.price %>/-</span></p>
            </div>
            <div class="cart_remove">
                <a href="#" onclick="removeCartalert('<%= item.product.id %>', '<%= item.id %>')"><i class="icon-x"></i></a>
            </div>
        </div>
        <% }) %>
       

    </div>
    <div class="mini_cart_table">
        <div class="cart_table_border">
            <div class="cart_total">
                <span>Sub total:</span>
                <span class="price "><%=subTotal%>%></span>
            </div>
            <div class="cart_total mt-10">
                <span>total:</span>
                <span class="price"><%=subTotal%>/-</span>
            </div>
        </div>
    </div>
    <div class="mini_cart_footer">
        <div class="cart_button">
            <a href="/Viewcart"><i class="fa fa-shopping-cart"></i> View
                cart</a>
        </div>
        <div class="cart_button">
            <a class="active" href="/checkout"><i class="fa fa-sign-in"></i>
                Checkout</a>
        </div>

    </div>
</div>
<!-- <script src="assets/js/user.js"></script> -->

