<%-include('_header.ejs') -%>




    <!-- preloader -->
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;

        }

        .preloader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .preloader {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(135deg, #3498db, #e74c3c, #9b59b6, #2ecc71);
            background-size: 400% 400%;
            animation: gradient-shift 10s infinite;
        }

        .loader {
            width: 3%;
            height: 3%;
            border-radius: 79%;
            background-color: #79a206;
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @keyframes gradient-shift {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 50% 50%;
            }
        }

        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            50% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }

        .content {
            display: none;
        }
    </style>

    <div class="preloader-wrapper">
        <div class="preloader">
            <div class="loader"></div>
        </div>
    </div>

    <script>
        // Simulate a 5-second delay and hide the preloader
        setTimeout(function () {
            document.querySelector('.preloader-wrapper').style.display = 'none';
            document.querySelector('.content').style.display = 'block';
        }, 1500);
    </script>
    <!-- preloader -->



    <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>

    <%-include('_head_section.ejs') -%>
        <style>
            /* Custom CSS for small pop-up */
            .small-dialog {
                width: 100px;
                background-color: #79a206;

                /* Set the background color to green */
            }
        </style>



        <!--header area end-->

        <!--slider area start-->
        <section class="slider_section">
            <div class="slider_area owl-carousel">
                <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider_content">
                                    <h1>BIG SALE</h1>
                                    <p>Discount <span>20% Off </span> For Green Leaf Members </p>
                                    <a class="button" href="/shop">Discover Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <%bannerData.forEach(function(data){%>
                    <div class="single_slider d-flex align-items-center" data-bgimg="<%=data.image.url%>">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider_content">
                                        <h1>
                                            <%=data.title%>
                                        </h1>
                                        <h4>
                                            <%=data.subtitle%>
                                        </h4>

                                        <p>
                                            <%=data.label%>
                                        </p>
                                        <a class="button" href="/shop">Discover Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%})%>
            </div>
        </section>
        <!--slider area end-->

        <!--shipping area start-->
        <div class="shipping_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_shipping">
                            <div class="shipping_icone">
                                <img src="assets/img/about/shipping1.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h3>Free Delivery</h3>
                                <p>Free shipping around the world for all <br> orders over $120</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_shipping col_2">
                            <div class="shipping_icone">
                                <img src="assets/img/about/shipping2.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h3>Safe Payment</h3>
                                <p>With our payment gateway, don’t worry <br> about your information</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_shipping col_3">
                            <div class="shipping_icone">
                                <img src="assets/img/about/shipping3.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h3>Friendly Services</h3>
                                <p>You have 30-day return guarantee for <br> every single order</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--shipping area end-->

        <!--banner area start-->

        <!--banner area end-->

        <!--product area start-->
        <div class="product_area  mb-95">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_header">
                            <div class="section_title">
                                <h2>Our Products</h2>
                            </div>
                            <!-- <div class="product_tab_btn">
                                <ul class="nav" role="tablist" id="nav-tab">

                                    <%categoryData.forEach(function(data){%>
                                    <li>
                                        <a class="active" data-bs-toggle="tab" href="#plant1" role="tab"
                                            aria-controls="plant1" aria-selected="true">
                                            <%=data.category%>
                                        </a>
                                    </li>
                                    <%})%>
                                 
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="plant1" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column4 owl-carousel">
                                <% productDatas.forEach(async (product)=> { %>

                                    <div class="col-lg-3">
                                        <div class="product_container">

                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                            href="/productDetails/?id=<%=product.id%>">
                                                            <img src="<%= product.imageUrl[0].url %>" alt="">
                                                        </a>
                                                        <div class="label_product">
                                                            <!-- Add any product labels or badges here -->
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>

                                                                <li class="add_to_cart">
                                                                    <input min="1" max="100" id="<%= product.id %>"
                                                                        value="1" type="number" hidden>

                                                                    <a class="addToCartButton" title="Add to cart"
                                                                        onclick="addToCart('<%=product.id%>')"
                                                                        id="addToCartBtn">
                                                                        <i class="icon-shopping-bag"></i>
                                                                    </a>
                                                                </li>


                                                                <li class="wishlist">
                                                                    <a  onclick="addToWishlist('<%= product._id %>','<%= cartId %>')"title="Add to Wishlist">
                                                                        <i class="icon-heart"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <h4 class="product_name">
                                                            <a href="/productDetails/<%=product.id%>">
                                                                <%= product.product_name %>
                                                            </a>
                                                        </h4>
                                                        <div class="price_box">
                                                            <span class="current_price">
                                                                ₹<%= product.price %>/-
                                                            </span>
                                                        </div>
                                                    </figcaption>
                                                </figure>

                                            </article>

                                        </div>
                                    </div>
                                    <% }) %>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--product area end-->


        <!--footer area start-->
        <%-include('_footer.ejs') -%>

            <!--footer area end-->





            <!-- JS
============================================ -->
            <!--jquery min js-->
            <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
            <!--popper min js-->
            <script src="assets/js/popper.js"></script>
            <!--bootstrap min js-->
            <script src="assets/js/bootstrap.min.js"></script>
            <!--owl carousel min js-->
            <script src="assets/js/owl.carousel.min.js"></script>
            <!--slick min js-->
            <script src="assets/js/slick.min.js"></script>
            <!--magnific popup min js-->
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <!--counterup min js-->
            <script src="assets/js/jquery.counterup.min.js"></script>
            <!--jquery countdown min js-->
            <script src="assets/js/jquery.countdown.js"></script>
            <!--jquery ui min js-->
            <script src="assets/js/jquery.ui.js"></script>
            <!--jquery elevatezoom min js-->
            <script src="assets/js/jquery.elevatezoom.js"></script>
            <!--isotope packaged min js-->
            <script src="assets/js/isotope.pkgd.min.js"></script>
            <!--slinky menu js-->
            <script src="assets/js/slinky.menu.js"></script>
            <!-- Plugins JS -->
            <script src="assets/js/plugins.js"></script>

            <!-- Main JS -->
            <script src="assets/js/main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>



            <script src="/assets/js/user.js"></script>
            <script src="/assets/js/addto.wishlist.js"></script>

            </body>



            </html>