<%-include('./_header.ejs') -%>



    <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>
    

    <!--offcanvas menu area end-->


    <%-include('./_head_section.ejs') -%>

   
    <!--header area end-->

    <!--breadcrumbs area start-->

    <!--breadcrumbs area end-->

    <!--product details start-->
    <div class="product_details mt-4 mb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="<%=product.imageUrl.url%>"
                                    data-zoom-image="<%=product.imageUrl.url%>" alt="big-1">
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right mt-100">
                        <form action="#">

                            <h1><a href="#"><%=product.product_name%></a></h1>
                            
                        
                            <div class="price_box">
                                <span class="current_price"><%=product.price%></span>

                            </div>
                            <div class="product_desc">
                                <p><%=product.product_details%></p>
                            </div>
                      
                            <div class="product_variant quantity">
                                <label>quantity</label>
                                <input min="1" max="100" value="1" type="number">
                                <button class="button" type="submit">add to cart</button>

                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="Add to wishlist">+ Add to Wishlist</a></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>Category: <a href="#"><%=product.category%></a></span>
                            </div>

                        </form>
              

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->


    <!--footer area start-->
<%-include('./_footer.ejs') -%>
  
    <!--footer area end-->




    <!-- JS
============================================ -->
    <!--jquery min js-->
    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <!--popper min js-->
    <script src="assets/js/popper.js"></script>
    <!--bootstrap min js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!--slick min js-->
    <script src="assets/js/slick.min.js"></script>
    <!--magnific popup min js-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--counterup min js-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--jquery countdown min js-->
    <script src="assets/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="assets/js/jquery.ui.js"></script>
    <!--jquery elevatezoom min js-->
    <script src="assets/js/jquery.elevatezoom.js"></script>
    <!--isotope packaged min js-->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!--slinky menu js-->
    <script src="assets/js/slinky.menu.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>



</body>


</html>