<%-include('_header.ejs') -%>


    <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>


    <!--offcanvas menu area end-->
    <%-include('_head_section.ejs') -%>

        <!--header area end-->


        <!--breadcrumbs area start-->
        <div class="breadcrumbs_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <h3>Shop</h3>
                            <ul>
                                <li><a href="/index">home</a></li>
                                <li>shop fullwidth list</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs area end-->

        <!--shop  area start-->
        <div class="shop_area shop_fullwidth mt-100 mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--shop wrapper start-->
                        <!--shop toolbar start-->
                        <!-- <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">

                                <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                                    title="3"></button>

                                <button data-role="grid_4" type="button" class="active btn-grid-4"
                                    data-bs-toggle="tooltip" title="4"></button>

                                <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip"
                                    title="List"></button>
                            </div>
                            <div>
                                <form action="#">
                                    <div class="form-group">

                                        <select class="form-control" id="sortSelect">
                                            <option value="1">Sort by average rating</option>
                                            <option value="2">Sort by popularity</option>
                                            <option value="3">Sort by newness</option>
                                            <option value="4">Sort by price: low to high</option>
                                            <option value="5">Sort by price: high to low</option>
                                            <option value="6">Product Name: Z</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="page_amount">
                                <p>Showing 1–9 of 21 results</p>
                            </div>
                        </div> -->
                        <!--shop toolbar end-->


                        <% if(productDatas.length==0) { %>

                            <div class="alert alert-warning">
                                <strong>Search not found</strong>
                            </div>

                            <%}%>



                                <div class="row shop_wrapper grid_list">
                                    <% productDatas.forEach(async (product)=> { %>

                                        <div class="col-12 ">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                            href="/productDetails/?id=<%=product.id %>"><img
                                                                src="<%=product.imageUrl[0].url%>" alt=""></a>
                                                        <div class="label_product">
                                                            <span class="label_sale">-7%</span>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a href="/cart"
                                                                        title="Add to cart"><i
                                                                            class="icon-shopping-bag"></i></a></li>

                                                                <li class="wishlist"><a href="/wishlist"
                                                                        title="Add to Wishlist"><i
                                                                            class="icon-heart"></i></a></li>
                                                                <li class="quick_button"><a href="#"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal_box" title="quick view">
                                                                        <i class="icon-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="action_links list_action">
                                                            <ul>
                                                                <li class="quick_button"><a href="#"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal_box" title="quick view">
                                                                        <i class="icon-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product_content grid_content">
                                                        <div class="product_price_rating">
                                                            <div class="product_rating">
                                                                <ul>
                                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <h4 class="product_name"><a
                                                                    href="/productDetails/<%=product.id %>">
                                                                    <%=product.product_name%>
                                                                </a></h4>
                                                            <div class="price_box">
                                                                <span class="current_price">
                                                                    <%=product.price%>/-
                                                                </span>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product_content list_content">
                                                        <div class="product_rating">
                                                            <ul>
                                                                <li><a href="#"><i class="icon-star"></i></a></li>
                                                                <li><a href="#"><i class="icon-star"></i></a></li>
                                                                <li><a href="#"><i class="icon-star"></i></a></li>
                                                                <li><a href="#"><i class="icon-star"></i></a></li>
                                                                <li><a href="#"><i class="icon-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4 class="product_name"><a
                                                                href="/productDetails/<%=product.id %>">
                                                                <%=product.product_name%>
                                                            </a>

                                                        </h4>
                                                        <div class="price_box">
                                                            <span class="current_price">
                                                                <%=product.price%>/-
                                                            </span>
                                                        </div>
                                                        <div class="product_desc">
                                                            <p>
                                                                <%=product.product_details%>
                                                            </p>
                                                        </div>
                                                        <div class="action_links list_action_right">
                                                            <ul>
                                                                <input min="1" max="100" id="<%= product.id %>"
                                                                    value="1" type="number" hidden>

                                                                <li class="add_to_cart"><a class="addToCartButton"
                                                                        title="Add to cart"
                                                                        onclick="addToCart('<%=product.id%>')"
                                                                        id="addToCartBtn">Add to
                                                                        cart</a></li>
                                                                <li class="wishlist"><a href="/wishlist"
                                                                        title="Add to Wishlist"><i
                                                                            class="icon-heart"></i></a></li>


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                        </div>

                                        <% }) %>

                                </div>


                                <div class="shop_toolbar t_bottom">
                                    <div class="pagination">
                                        <ul>
                                            <li class="current">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li class="next"><a href="#">next</a></li>
                                            <li><a href="#">>></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--shop toolbar end-->
                                <!--shop wrapper end-->
                    </div>
                </div>
            </div>
        </div>
        <!--shop  area end-->

        <!--footer area start-->
        <%-include('_footer.ejs') -%>

            <!--footer area end-->

            <!-- modal area start-->

            <!-- modal area end-->
            <!-- JS
============================================ -->
            <!--jquery min js-->
            <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
            <!--popper min js-->
            <script src="assets/js/popper.js"></script>
            <!--bootstrap min js-->
            <script src="assets/js/bootstrap.min.js"></script>
            <!--owl carousel min js-->
            <script src="assets/js/owl.carousel.min.js"></script>
            <!--slick min js-->
            <script src="assets/js/slick.min.js"></script>
            <!--magnific popup min js-->
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <!--counterup min js-->
            <script src="assets/js/jquery.counterup.min.js"></script>
            <!--jquery countdown min js-->
            <script src="assets/js/jquery.countdown.js"></script>
            <!--jquery ui min js-->
            <script src="assets/js/jquery.ui.js"></script>
            <!--jquery elevatezoom min js-->
            <script src="assets/js/jquery.elevatezoom.js"></script>
            <!--isotope packaged min js-->
            <script src="assets/js/isotope.pkgd.min.js"></script>
            <!--slinky menu js-->
            <script src="assets/js/slinky.menu.js"></script>
            <!-- Plugins JS -->
            <script src="/assets/js/plugins.js"></script>
            <script src="/assets/js/user.js"></script>

            <!-- Main JS -->
            <script src="/assets/js/main.js"></script>
            <!-- <script src="/assets/js/user.js"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>


            <script src="/assets/js/addto.cart.js"></script>
            


            </body>


            <!-- Mirrored from htmldemo.net/lukani/lukani/shop-fullwidth-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Jun 2023 10:51:46 GMT -->

            </html>